.navbar-custom .avatar-container {
    opacity: 1;
    visibility: visible;
    -webkit-transition: visibility 0.5s, opacity 0.5s ease-in-out;
    -moz-transition: visibility 0.5s, opacity 0.5s ease-in-out;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.navbar-custom .avatar-container .avatar-img-border {
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container img {
    border-radius: 50%;
    height: 100px;
    display: block;
}

.navbar-custom.top-nav-short .avatar-container{
    opacity: 0;
    visibility: hidden;
}

.navbar-custom.top-nav-expanded .avatar-container  {
    display: none;
}

@media only screen and (min-width: 768px) {
    .navbar-custom .avatar-container  .avatar-img-border {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    }
}

/* --- Footer --- */

footer.footer-main {
    padding: 20px 0;
    background: #F5F5F5;
    border-top: 1px #EAEAEA solid;
    margin-top: auto;
    font-size: 14px;
}

footer a {
    color: #404040;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}
footer.footer-main .copyright {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    footer.footer-main {
        padding: 30px 0;
    }
    footer .footer-links {
        font-size: 18px;
    }
    footer.footer-main .copyright {
        font-size: 16px;
    }
}

/* --- Post preview --- */

.post-preview {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

@media only screen and (min-width: 768px) {
    .post-preview {
        padding: 35px 0;
    }
}

.post-preview:last-child {
    border-bottom: 0;
}

.post-preview a {
    text-decoration: none;
    color: #404040;
}

.post-preview a:focus,
.post-preview a:hover {
    text-decoration: none;
    color: #0085a1;
}

.post-preview .post-title {
    font-size: 30px;
    margin-top: 0;
}
.post-preview .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
}
.post-preview .post-meta,
.post-heading .post-meta,
.post-preview .post-meta a,
.post-heading .post-meta a {
    color: #404040;
    text-decoration: none;
}
.post-preview .post-entry {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.post-entry-container {
    display: inline-block;
    width: 100%;
}
.post-entry {
    width: 100%;
    margin-top: 10px;
}

.post-preview .post-read-more {
    font-weight: 800;
    float: right;
}

@media only screen and (min-width: 768px) {
    .post-preview .post-title {
        font-size: 36px;
    }
}


/* --- Pager --- */
.pager a {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 5px;
    background: #FFF;
    border-radius: 0;
    color: #404040;
}
@media only screen and (min-width: 768px) {
    .pager a {
        padding: 15px 25px;
    }
}
.pager a:hover,
.pager a:focus {
    color: #FFF;
    background: #0085a1;
    border: 1px solid #0085a1;
}

.pager {
    margin: 10px 0 0;
}